@model TestUsers.ViewModels.HomeVM

@{
    ViewBag.Title = "2";
}

<p>
    <a href="https://localhost:44356/Motorcycles/Index">
        <img src="~/Content/images/shutterstock_655905334-Cropped.jpg" alt="Motorcycles" />
    </a>

</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div id="slider" class="nivoSlider">
                @foreach (var item in Model.MotorcyclesHomeVM)
                {
                    if (item.Image != null)
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" />
                    }
                }
            </div>
        </div>
        <div class="col-sm-6">
            <div id="slider2" class="nivoSlider">
                @foreach (var item in Model.BrandsHomeVM)
                {
                    if (item.Image != null)
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" />
                    }
                }
            </div>
        </div>
    </div>
</div>

<style>
    h1.SportTitle {
        font-size: 200px;
        background-color: antiquewhite;
        font-style: italic;
        text-align: center;
    }
</style>

    <h1 class="SportTitle">Sport</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.nivo.slider.js"></script>

<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider();
    });

    $(window).load(function () {
        $('#slider').nivoSlider({
            effect: 'random',
            slices: 15,
            boxCols: 8,
            boxRows: 4,
            animSpeed: 500,
            pauseTime: 3000,
            startSlide: 0,
            directionNav: true,
            controlNav: true,
            controlNavThumbs: false,
            pauseOnHover: true,
            manualAdvance: false,
            prevText: 'Prev',
            nextText: 'Next',
            randomStart: false,
            beforeChange: function () { },
            afterChange: function () { },
            slideshowEnd: function () { },
            lastSlide: function () { },
            afterLoad: function () { }
        });
    });

    $(window).load(function () {
        $('#slider2').nivoSlider();
    });

    $(window).load(function () {
        $('#slider2').nivoSlider({
            effect: 'random',
            slices: 15,
            boxCols: 8,
            boxRows: 4,
            animSpeed: 500,
            pauseTime: 3000,
            startSlide: 0,
            directionNav: true,
            controlNav: true,
            controlNavThumbs: false,
            pauseOnHover: true,
            manualAdvance: false,
            prevText: 'Prev',
            nextText: 'Next',
            randomStart: false,
            beforeChange: function () { },
            afterChange: function () { },
            slideshowEnd: function () { },
            lastSlide: function () { },
            afterLoad: function () { }
        });
    });
</script>